#top{
border-style:solid;
border-color:red;
width:50%;
margin-left:30%;
padding-left:10%;
}

#buttom{
width:50%;
border-style:solid;
border-color:blue;
margin-top:35%;
margin-left:30%;
padding-left:10%;
}