
h1{
color:green;
}

h2{
color:rgb(160, 204, 27);
}

#hd{
color:green;
}

#hz{
color:blue;
}

#csk{
color:yellow;
}

#mi{
color:rgb(9, 29, 179);
}

#rcb{
color:rgb(209, 10, 10) }

#cy{
color:yellow;
}

#mb{
color:blue}
#rr{
color:red}