h1{
font-family: 'Anton', sans-serif;
font-family: 'Noto Serif', serif;
color:#0313fc;
}
#one{
color:#055ffa;

}
.newf{
font-family: 'Itim', cursive;
font-size:25px;
color:#0894ff;
}

.container{
padding-top:10%;
}

#two{
color:#0584fa;
}

#bgc{
background-color:#485770;
}
